*{
    margin: 0%;
    padding: 0%;
    min-height: 3em;
}

header{
    background-color:  rgba(58, 36, 51, 0.5);
}

h1{
    text-align: center;
    font-size: 42px;
    height: 60px;
    min-width: 200px;
    bottom: 12px;
    font-family: Impact, fantasy;
    margin: 7px;
    
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.slogan {
    flex: 1; 
    text-align: left;
    display: inline-flex;
    margin: 5px;
    
}

.slogan-image {
    max-width: 70px;
}

.search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    padding: 10px;
    margin-right: 10px;
    width: 60%;
}

.right-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a {
    color: white;
    padding: 10px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.slogan, .search-bar, .right-links {
    margin-top: 10px;
}


.categories-nav {
    margin-top: 20px;
}

.categories-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.categories-nav li {
    text-align: center;
}

select {
    padding: 8px;
}

section button{
    flex: 1;
    background-color: #333;
    color: #fff;
    border: 1px solid;
    padding: 0.5rem;
    text-align: center;
    font-size: 16px;
    position:relative; 
    float:right;
    margin: 5px;
    width: 5%;
    cursor: pointer;
}
section button:hover{
    background-color: #afa2a2;
}

.payment-section{
    display: grid;
    width: 30%;
    text-align: center;
    margin-left: 35%;
    margin-right: 50%;
}

option{
    text-align: center; 
}

label{
    margin: 5%;
    font-size: 20px;
}

.payment-section button{
    margin: 40px;
    width: 50%;
    margin-left: 27%;
    margin-right: 50%;
    flex: 1;
    background-color: #333;
    color: #fff;
    border: 1px solid;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.payment-section button:hover {
    background-color: #737171;
}

h2{
    font-size: 26px;
    font-family: Impact, fantasy;
    margin: 5px;
    display: block;
    
    margin-block-start: 2em;
    margin-block-end: -0.83em;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    font-weight: bold;
}

