*{
    margin: 0;
    padding: 0;
    min-height: 3em
}

body{
    display: flex;
    flex-wrap: wrap;
}
header{
    background-color:  rgba(58, 36, 51, 0.5);
    width: 100%;
}

nav{
    width: 100%;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

article{
    width: 50%;
}

article img{
    width: 100%
}

section{
    width: 50%;
}

footer {
    background-color:  rgba(58, 36, 51, 0.5);
    width: 100%;
    text-align: center;
}


.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.slogan {
    flex: 1; 
    text-align: left;
    display: inline-flex;
    
}

.slogan-image {
    max-width: 80px;
}

.search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    padding: 10px;
    margin-right: 10px;
    width: 60%;
}

.right-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a {
    color: white;
    padding: 10px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.slogan, .search-bar, .right-links {
    margin-top: 10px;
}