*{
    margin: 0%;
    padding: 0%;
    min-height: 3em;
}


header{
    background-color:  rgba(58, 36, 51, 0.5);
}

h1{
    text-align: center;
    font-size: 42px;
    height: 60px;
    min-width: 200px;
    bottom: 12px;
    font-family: Impact, fantasy;
    margin: 7px;
    
}

nav{
    width: 100%;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

article{
    width: 50%;
}
#commentInput{
    width: 50%;
    height: 150px;
}
article img{
    width: 100%
}

section{
    width: 50%;
}

footer {
    background-color:  rgba(58, 36, 51, 0.5);
    width: 100%;
    text-align: center;
}


.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.slogan {
    flex: 1; 
    text-align: left;
    display: inline-flex;
    margin: 5px;
    
}

.slogan-image {
    max-width: 70px;
}

.search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    padding: 10px;
    margin-right: 10px;
    width: 60%;
}

.right-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a {
    color: white;
    padding: 10px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.slogan, .search-bar, .right-links {
    margin-top: 10px;
}