*{
    margin: 0%;
    padding: 0%;
    min-height: 3em;
}


header{
    background-color:  rgba(58, 36, 51, 0.5);
}

h1{
    text-align: center;
    font-size: 42px;
    height: 60px;
    min-width: 200px;
    bottom: 12px;
    font-family: Impact, fantasy;
    margin: 7px;
    
}


nav{
    color: black;
}

main{
    width: 90%;
    margin: 1em auto;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    
}

main article{ 
    border: 1mm ridge rgba(86, 65, 82, 0.599);
    border-radius: 20%;
    justify-content: space-between;
}



section{
    width: 100%
}

section img{
    width: 100%;
    overflow: hidden;
  
}

article{   
    text-align: center;
    width:15%;
    margin:2%
}

article img{

    width: 50%;
}

footer{
    background-color:  rgba(58, 36, 51, 0.5);
    text-align: center;
}


.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.slogan {
    flex: 1; 
    text-align: left;
    display: inline-flex;
    margin: 5px;
    
}

.slogan-image {
    max-width: 70px;
}

.search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    padding: 10px;
    margin-right: 10px;
    width: 60%;
}

.right-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a {
    color: white;
    padding: 10px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.slogan, .search-bar, .right-links {
    margin-top: 10px;
}

.categories-nav {
    margin-top: 20px;
}

.categories-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.categories-nav li {
    text-align: center;
}

select {
    padding: 8px;
}

